[data-type="parallax"] {
    margin-top: 0;
    opacity: 1;
}

aside.bit-title-line {
    @include box;
    margin: 45px 0;
    // padding: 10px 0;
    h2, .green-link {
        display: block;
        font-size: rem(50);
        text-decoration: none;
        text-align: center;
        color: #7ED321;
        font-family: 'PT Sans Narrow', sans-serif;
    } // h2, .green-link
    h2 {
        color: #363636;
    } // h2
} // aside

.ua-label {
    @include inline-middle;
    width: 138px;
    height: 142px;
    background: url(/static/images/ua.png) no-repeat;
    background-size: 100%;
} // ua-label
