[data-type="parallax"] {
    margin-top: 0;
    opacity: 1;
}

.big-title-line {
    @include box;
    margin: 45px 0;
    // padding: 10px 0;
    h1, h2, .green-link {
        display: block;
        font-size: rem(50);
        text-decoration: none;
        text-align: center;
        color: #27ae60;
        font-family: 'PT Sans Narrow', sans-serif;
    } // h2, .green-link
    h1, h2 {
        color: #363636;
    } // h2
} // aside


.ua-label-box {
    text-align: center;
    @include box;
    padding-top: 0px;
    padding-bottom: 50px;
} // ua-label-box

.ua-label {
    @include inline-middle;
    width: 196px;
    height: 60px;
    background: url(/static/images/ua.png) no-repeat;
    background-size: 100%;
} // ua-label
