.content-article {
    color: #747474;
    @include font-size(20);
    h2, h3, h4, h5 {
        color: #747474;
        text-align: center;
    } // h2, h3, h4, h5
    table {
        width: 100%;
        margin: auto;
        margin-bottom: 1em;
        tr {
            th {
                font-weight: 700;
            } // th
            th, td {
                text-align: center;
                vertical-align: middle;
                padding: .2em;
                margin: 0;
                background: #ecf0f1;
            } // th, td
            &:hover {
                td {
                    background: #d5d5d5;
                } // td
            } // &:hover
        } // tr
    } // table
    blockquote {
        margin-left: 0;
        margin-right: 0;
        padding: .3em 2em;
        border-left: 5px solid rgba(107, 107, 107, 0.1);
    } // blockquote
    figure {
        margin-left: 0;
        margin-right: 0;
        figcaption {
            margin-top: 1em;
        } // figcaption
    } // figure
    .if {
        margin-bottom: 1em;
    } // if
    .centered {
        text-align: center;
    } // centered
    .mediadesc, .mdesc {
        text-align: center;
        font-style: italic;
        margin-top: 0;
    }
    p {
        img {
            margin: 0 auto;
        } // img
    } // p
} // content-article
