.site-footer {
    padding: 40px 0;
    font-size: rem(18);
    @include box;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    .column {
        color: #b5b5b5;
        flex: 1 25%;
        ul {
            @include clear-list;
        } // ul
        a {
            color: #b5b5b5;
            position: relative;
        } // a
        &.location-list {
            li.location {
                position: relative;
                &:before {
                    position: absolute;
                    left: -24px;
                    top: -2px;
                    content: '\f041';
                    font-family: FontAwesome;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                } // &:before
            } // li.location
        } // &.location-list
        &.social {
            ul {
                @include clear-list-inline;
                li + li {
                    margin-left: 20px;
                } // li + li
                a {
                    text-decoration: none;
                    color: #27ae60;
                } // a
            } // ul
        } // &.social
    } // .column
} // .site-footer
