header.site-header{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100px;
    top: 0px;
    padding-top: 18px;
    box-sizing: border-box;
    @include box;
    a.menu-logo {
        @include inline-middle;
        background-image: url(/static/images/Logo2.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 100%;
        width: 114px;
        height: 60px;
        float: left;
    } // menu-logo
    a.green-word {
        @include inline-middle;
        color: #7ED321;
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: rem(48);
        z-index: 3;
        font-weight: 400;
        text-decoration: none;
        display: block;
        position: relative;
        top: 15px;
        right: -10px;
        @include transition(all, 0.5s, ease);
        &.shadows {
            color: #7ED321;
            text-shadow: 2px 3px 0 #FFFFFF, 6px 6px 0 rgba(46, 185, 96, 0.21);
        } // &.shadows
    } // green-word
} // site-header
