header.site-header {
    @include clearfix;
    background-color: white;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 78px;
    top: 0px;
    padding-top: 8px;
    box-sizing: border-box;
    border-bottom: 1px solid transparent;
    @include box;
    @include transition(all, 0.8s, ease);
    &.state {
        background-color: rgb(241, 245, 239);
    } // &.state
    .logo-block {
        @include clearfix;
        float: left;
        @include transition(all, 0.8s, ease);
        a.menu-logo {
            @include inline-middle;
            background-image: url(/static/images/Logo2.png);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: 100%;
            width: 114px;
            height: 60px;
            float: left;
        } // menu-logo
        a.green-word {
            @include transition(all, 0.5s, ease);
            @include inline-middle;
            @include font-size(34);
            float: left;
            color: #27ae60;
            font-family: 'PT Sans Narrow', sans-serif;
            z-index: 3;
            font-weight: 400;
            text-decoration: none;
            display: block;
            position: relative;
            top: 15px;
            right: -10px;
            text-shadow: 2px 3px 0 #FFFFFF, 6px 6px 0 rgba(46, 185, 96, 0.21);
        } // green-word
    } // logo-block
    .site-menu {
        @include clear-list-inline;
        float: right;
        margin-top: 13px;
        li + li {
            margin-left: 10px;
        } // li
        li {
            @include font-size(18);
            a {
                font-family: 'PT Sans Narrow', sans-serif;
                text-decoration: none;
            } // a
        } // li
    } // site-menu
} // site-header
