.home-titles {
    color: #6c6c6c;
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
    h1 {
        font-size: rem(50);
        text-transform: uppercase;
        margin: 0;
    }
    h2 {
        margin: 10px 0 0 0;
        font-size: rem(40);
    }
}
