aside.order {
    .green-link {
        margin: 40px 0;
        display: block;
        padding: 10px 0;
        font-size: rem(50);
        text-decoration: none;
        text-align: center;
        color: #C1EA94;
        font-family: 'PT Sans Narrow', sans-serif;
    } // .green-link
} // aside
