.posts-list {
    margin: 0 20% 2em 20%;
    background: #fff;
    border-radius: .4em;
    text-align: center;
    h3 {
        padding-top: .5em;
        margin-bottom: 0;
    } // h3
    ul {
        padding: 0;
        margin-top: .5em;
        li {
            box-sizing: border-box;
            padding: .2em .1em;
            list-style: none;
            h1 {
                @include font-size(22);
                margin: 0;
                margin-top: .3em;
                a {
                    text-decoration: none;
                } // a
            } // h1
        } // li
    } // ul
} // posts-list
