.welcome {
    @include table;
    background-size: cover;
    position: relative;
    margin-top: -78px;
    .welcome-titles {
        box-sizing: border-box;
        @include table-cell;
        vertical-align: middle;
        padding: 20px 40px;
        height: 100vh;
        color: #6c6c6c;
        font-family: 'PT Sans Narrow', sans-serif;
        text-align: center;
        @include box;
        .tada {
            animation: tada .5s ease-out 1;
        } // animation-titles
        hr {
            border-color: rgba(45, 187, 46, 0.1);
            margin-bottom: 20px;
        } // hr
        h1 {
            @include property(font-size, 50);
            margin: 0;
            text-shadow: 1px 1px 3px black;
            color: #27ae60;
            text-shadow: 2px 3px 0 #FFFFFF, 6px 6px 0 rgba(46, 185, 96, 0.21);
            margin-bottom: 30px;
        } // h1
        h2 {
            @include property(font-size, 40);
            margin-bottom: 0;
            color: #6E6E6E;
        } // h2
        .homepage-article {
            font-family: 'PT Sans', serif;
            color: #6E6E6E;
            p {
                margin: 0;
            } // p
        } // homepage-article
        .scroll-down {
            display: none;
            position: absolute;
            width: 50px;
            text-align: center;
            bottom: 40px;
            left: 50%;
            margin-left: -25px;
            color: rgba(46, 185, 96, 1);
            &.active {
                animation: scrollDownBox 1s ease-out 1;
                display: inline-block;
            } // &.active
            ul {
                @include clear-list;
                li {
                    margin-top: -22px;
                    opacity: .2;
                    font-weight: 200;
                    &:nth-child(1) {
                        animation: ScrollDown 2.5s infinite 0s;
                    }
                    &:nth-child(2) {
                        animation: ScrollDown 2.5s infinite .2s;
                    }
                    &:nth-child(3) {
                        animation: ScrollDown 2.5s infinite .4s;
                    }
                } // li
            } // ul
        } // scroll-down
    } // welcome-titles
} // welcome
