.works {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    // margin: 100px 0;
    .work {
        flex: 1 33.3333%;
        &.state {
            animation: fadeIn 1s ease-out 1;
        } // &.state
        .work-info {
            // background: #7ED321;
            font-family: 'PT Sans Narrow', sans-serif;
            padding: 20px;
            padding-bottom: 60px;
            position: relative;
            .info-block {
                color: #363636;
                &.down {
                    position: absolute;
                    bottom: 10px;
                } // down
                h2 {
                    margin: 0;
                    font-size: rem(26);
                } // h2
                .tech {
                    margin: 0;
                    font-size: rem(22);
                    padding: 0;
                    li {
                        display: inline-block;
                        &:not(:last-of-type) {
                            &:after {
                                content: ', ';
                            } // &:after
                        } // add comma after each element, excluding last
                    } // li
                } // tech
                &.text-right {
                    text-align: right;
                } // &.text-right
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li {
                        display: inline-block;
                        a {
                            text-decoration: none;
                            color: black;
                            padding-right: 20px;
                        } // a
                    } // li
                } // ul
            } // info-block
        } // work-info
    } // work
} // works

.poster {
    width: 100%;
    height: 300px;
    background-size: auto 300px !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
} // poster
