{% extends 'base.html' %}

{% block content %}
<div class="welcome">
    <div class="welcome-titles">
        <div class="tada">
            <!-- Proudly made in Ukraine -->
            <div class="ua-label" data-type="parallax" data-speed="14"></div>
            <h1 data-type="parallax" data-speed="14">{{ page.title }}</h1>
            <h2 data-type="parallax" data-speed="14">{{ page.subtitle }}</h2>
        </div>
        <!-- scroll down decor -->
        <div class="scroll-down">
            <ul>
                <li><i class="fa fa-chevron-down"></i></li>
                <li><i class="fa fa-chevron-down"></i></li>
                <li><i class="fa fa-chevron-down"></i></li>
            </ul>
        </div>
    </div>
</div>
<!-- aside -->
<aside class="bit-title-line">
    <h2>Something what we already did</h2>
</aside>
<!-- /aside -->
<!-- works -->
<div class="works">
{% for work in works %}
    <!-- work -->
    <div class="work" data-role="animate-scroll">
        <div class="poster" style="background: url({{ work.poster }});"></div>
        <!-- work-info -->
        <div class="work-info">
            <div class="info-block">
                <h2>{{ work.title }}</h2>
                <ul class="tech">
                {% for tech in work.tech %}
                    <li>{{ tech }}</li>
                {% endfor %}
                </ul>
            </div>
            <div class="info-block down">
                <ul>
                    {% if work.url %}<li><a href="{{ work.url }}" class="fa fa-external-link"></a></li>{% endif %}
                    {% if work.repo %}<li><a href="{{ work.repo }}" class="fa fa-github"></a></li>{% endif %}
                    {% if work.details %}<li><a href="{{ url_for("page", path=work.path) }}">details</a></li>{% endif %}
                </ul>
            </div>
        </div>
        <!-- /work-info -->
    </div>
    <!-- /work -->
{% endfor %}
</div>
<!-- /works -->

{% endblock content %}
