{% extends 'base.html' %}

{% block content %}
<div class="welcome">
    <div class="welcome-titles">
        <div class="tada">
            <div class="big-logo" data-type="parallax" data-speed="14"></div>
            <h1 data-type="parallax" data-speed="14">{{ page.title }}</h1>
            <hr>
            <h2 data-type="parallax" data-speed="14">{{ page.subtitle }}</h2>
            <article class="homepage-article" data-type="parallax" data-speed="14">
                {{ page.html|safe }}
            </article>
        </div>
        <!-- scroll down decor -->
        <div class="scroll-down">
            <ul>
                <li><i class="fa fa-chevron-down"></i></li>
                <li><i class="fa fa-chevron-down"></i></li>
                <li><i class="fa fa-chevron-down"></i></li>
            </ul>
        </div>
    </div>
</div>

{% endblock content %}
