{% extends 'base.html' %}

{% block content %}
<div class="welcome">
    <div class="welcome-titles">
        <div class="tada">
            <div class="big-logo" data-type="parallax" data-speed="14"></div>
            <h1 data-type="parallax" data-speed="14">{{ page.title }}</h1>
            <hr>
            <h2 data-type="parallax" data-speed="14">{{ page.subtitle }}</h2>
            <article class="homepage-article" data-type="parallax" data-speed="14">
                {{ page.html|safe }}
            </article>
        </div>
        <!-- scroll down decor -->
        <div class="scroll-down">
            <ul>
                <li><i class="fa fa-chevron-down"></i></li>
                <li><i class="fa fa-chevron-down"></i></li>
                <li><i class="fa fa-chevron-down"></i></li>
            </ul>
        </div>
    </div>
</div>
<!-- aside -->
<aside class="big-title-line">
    <h2>Something what we already did</h2>
</aside>
<!-- /aside -->

<!-- works -->
<div class="works">
{% for work in works %}
    <!-- work -->
    <div class="work" data-role="animate-scroll">
        <!-- work-info -->
        <div class="work-info">
            <div class="work-url">
                <div class="info-block">
                    <h2>{{ work.title }}</h2>
                    <ul class="tech">
                    {% for tech in work.tech %}
                        <li>{{ tech }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="info-block down external">
                <ul>
                    {% if work.url %}<li><a href="{{ work.url }}"><i class="fa fa-external-link"></i></a></li>{% endif %}
                    {% if work.repo %}<li><a href="{{ work.repo }}"><i class="fa fa-github"></i></a></li>{% endif %}
                </ul>
            </div>
        </div>
        <!-- /work-info -->
    </div>
    <!-- /work -->
{% endfor %}
</div>
<!-- /works -->

{% endblock content %}
