.illustration {
    text-align: center;
    &--front {
        margin: auto;
    } // &--front
    &__img {
        @include inline-middle;
        &--front {
            width: 120px;
        }
    } // &__img {}
} // illustration
