// include fonts
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|PT+Sans:400,700,400italic,700italic);

$text-color: #303030;
$link-color: #3498db;

body {
    font-size: rem(18);
    line-height: 150%;
    background: #fff;
    font-family: 'PT Sans', sans-serif;
    position: relative;
    color: $text-color;
    padding: 0;
    margin: 0;
    &.open-menu {
        overflow: hidden;
    } // &.open-menu
    @include bp(md) {
        font-size: rem(22);
    } // md
    @include bp(lg) {
        font-size: rem(22);
    } // lg
} // body

img {
    display: block;
    max-width: 100%;
    vertical-align: top;
} // img

a {
    color: $link-color;
    @include transition(all, 0.3s, ease);
    &:hover {
        text-decoration: none;
    } // &:hover
} // a


h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    line-height: 1;
} // h1, h2, h3, h4, h5

.if {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    video,
    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
} // if
