// fonts
@mixin font-size($value) {
    font-size: $value + px;
    font-size: rem($value);
}

// transition
@mixin transition($property, $duration, $timing) {
    transition-property: $property;
    transition-duration: $duration;
    transition-timing-function: $timing;
}

@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// lists
@mixin clear-list {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}

@mixin clear-list-inline {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
        display: inline-block;
        vertical-align: middle;
    }
}

// inlines
@mixin inline-middle {
    display: inline-block;
    vertical-align: middle;
}

@mixin inline-top {
    display: inline-block;
    vertical-align: top;
}

// clearfix
@mixin clearfix {
    &:before,
    &:after {
        display: table;
        content: ' ';
    } // &:before, &:after
    &:after {
        clear: both;
    }
}

@mixin table {
    table-layout: fixed;
    display: table;
    width: 100%;
    box-sizing: border-box;
}

@mixin table-cell {
    display: table-cell;
    vertical-align: top;
    box-sizing: border-box;
}

@mixin elipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin icon-fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

@mixin bp($point) {
    $bp-xs: "(max-width : 480px)";
    $bp-xs-helpdesk: "(min-width : 480px) and (max-width : 768px)";
    $bp-sm: "(min-width : 768px) and (max-width : 992px)";
    $bp-md: "(min-width : 992px) and (max-width : 1200px)";
    $bp-lg: "(min-width : 1200px)";

    // all mob
    @if $point == allsmall {
        @media #{$bp-xs} { @content; }
        @media #{$bp-xs-helpdesk} { @content; }
        @media #{$bp-sm} { @content; }
    }

    // extrasmall – mobile
    @if $point == xs {
        @media #{$bp-xs} { @content; }
        @media #{$bp-xs-helpdesk} { @content; }
    }
    // small – (not only mobile)
    @if $point == sm {
        @media #{$bp-sm} { @content; }
    }
    // medium – smallscreen laptop & tablets & some mobile
    @if $point == md {
        @media #{$bp-md} { @content; }
    }
    // medium – big screens
    @if $point == lg {
        @media #{$bp-lg} { @content; }
    }
}

@mixin slide-down {
    @include transition(all, 0.4s, ease);
    opacity: 0;
    transform: translate(0, -200%);
    &.active {
        transform: translate(0, 0);
        opacity: 1;
    } // active
}

// flex
@mixin flex {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin basic-block {
    @include bp(xs) {
        padding: 50px 20px;
        padding-top: 0px;
    } // xs
    @include bp(sm) {
        padding: 50px 20px;
        padding-top: 0px;
    } // sm
    @include bp(md) {
        padding: 80px 60px;
        padding-top: 0px;
    } // md
    @include bp(lg) {
        padding: 80px 80px;
        padding-top: 0px;
    } // lg
}

@mixin big-sized-icon-absolute($width, $height, $img) {
    @include vertical-align;
    position: absolute;
    display: block;
    width: $width;
    height: $height;
    background: url($img);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: $width $height;
}

@mixin big-sized-icon($width, $height, $img) {
    @include vertical-align;
    @include inline-middle;
    width: $width;
    height: $height;
    background: url($img);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: $width $height;
}

@mixin animation-in-up {
    transform: translate3d(0, 20%, 0);
    &.state {
        animation: inUp 0.5s ease-out 1;
        transform: translate3d(0, 0, 0);
    } // &.state
}

@mixin no-animation-in-up {
    transform: translate3d(0, 0%, 0);
}

@mixin animation-tada {
    animation: tada .5s ease-out 1;
}
